table.dataTable {
    width: 100% !important;
}

.container-title {
    display: flex;
}

@media only screen and (max-width : 480px) {
    .container-title {
        width: 100%;
    }
}

@media only screen and (min-width: 480px) and (max-width : 780px) {
    .container-title {
        width: 75%;
    }
}

@media only screen and (min-width : 780px) {
    .container-title {
        width: 43%;
    }
}

.card {
    margin-top: 15px;
}

    .card .card-body {
        padding: 0;
    }


.form-search {
    flex: 4;
    height: calc(1.5em + .5rem + 2px) !important;
}

.btn {
    padding: 0.125rem 0.7rem !important;
}

    .btn.btn-mdl {
        padding: 0.875rem 1.5rem !important;
    }

.btn-light {
    background-color: whitesmoke;
    width: 90px;
    margin-left: 20px;
}

.form-control-sm {
    height: calc(1.5em + .5rem + 2px) !important;
}

.input-group-text {
    height: calc(1.5em + .5rem + 2px) !important;
}

.card-title-list {
    display: flex;
    margin-bottom: 10px;
    margin: 1.1rem 1.1rem;
}

    .card-title-list div.title-box {
        flex: 1;
        flex-direction: column;
        justify-content: center;
    }

.slideon input:checked ~ .slideon-slider {
    background-color: #005d41;
}

div.dataTables_wrapper div.dataTables_filter label {
    display: none;
}

.pagination .page-item.active .page-link {
    background: #005d41;
    border-color: #005d41
}

.input-group-text {
    height: calc(1.5em + .5rem + 2px) !important;
}